.button{
    outline: none;
    border: none;
    height: 48px;
    color: $color-text-btn;
    background-color: $color-btn;
    font-weight: $font-weight-bold;
    font-family: $font-family;
    cursor: pointer;

    &:hover{
        background-color: $color-btn-hover;
    }

    &:disabled{
        background-color: $color-btn-dis;
    }

    &--cart{
        outline: none;
        border: none;
        height: 48px;
        color: $color-text-btn;
        background-color: $color-btn-cart;
        font-weight: $font-weight-bold;
        font-family: $font-family;
        cursor: pointer;

        &:hover{
            background-color: $color-btn-hover;
        }
    }

    &__icon{
        color: $color-text-btn;
        width: 16px;
        height: 13px;
        margin-right: 6px;
    }
}