.card{
    width: 280px;
    height: 328px;
    border: 1px solid $color-border;

    &__pic{
        width: 100%;
        height: 160px;
    }

    &__h2{
        margin: 20px 24px 22px 24px;
    }

    &__info{
        margin: 22px 24px 24px 24px;
        display: flex;
        justify-content: space-between;

        &.hide{
            display: none;
        }
    }

    &__price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &--old{
            color: $color-text-dis;
            text-decoration: line-through;
            font-size: $font-size-price-dis;
            font-weight: $font-weight-light;
        }

        &--new{
            font-size: $font-size-price;
            font-weight: $font-weight-bold;
        }
    }

    &__button{
        width: 112px;
        &.button--cart{
            width: 118px;
        }
    }

    &__sold{
        margin: 22px 24px 24px 24px;
        height: 48px;
        display: flex;
        align-items: center;
        font-size: $font-size-price;
        font-weight: $font-weight-bold;

        &.hide{
            display: none;
        }
    }

    &.disabled{
        opacity: 0.5;
    }
}