.header{
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-border;

    &__wrapper{
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item{
        height: 48px;
        display: flex;
        align-items: center;
    }

    &__link{
        margin-right: 48px;
        color: $color-nav-header;
        font-size: $font-size-base;
        font-weight: $font-weight-regular;
    }

    &__logo{
        width: 48px;
        height: 48px;
        display: inline;
        margin-right: 48px;
    }
}