.loader{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid $color-text-btn;
    border-radius: 50%;
    animation: 4s infinite btn_loader;

    &__inside{
        width: 9px;
        height: 9px;
        border: 2px solid $color-text-btn;
        border-radius: 50%;
        margin: -1px auto auto auto;
        animation: 4s infinite btn_loader_inside;
    }
}
@keyframes btn_loader{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(360deg)}
    50%{transform:rotate(720deg)}
    75%{transform:rotate(360deg)}
    0%{transform:rotate(0deg)}
}
@keyframes btn_loader_inside{
    0%{transform:rotate(0deg)}
    25%{transform:rotate(-360deg)}
    50%{transform:rotate(-720deg)}
    75%{transform:rotate(-360deg)}
    0%{transform:rotate(0deg)}
}