$color-text: #343030;
$color-text-btn: #f4f6f9;
$color-text-dis: #a0a0a0;
$color-nav-header: #343030;
$color-nav-footer: #555555;

$color-bg: #ffffff;
$color-bg-footer: #eceaea;

$color-border: #e1e1e1;
$color-border-focus: #b5b5b5;

$color-btn: #403432;
$color-btn-hover: #776763;
$color-btn-dis: #c1b4b1;
$color-btn-cart: #5b3a32;

$font-size-base: 14px;
$font-size-price-dis: 14px;
$font-size-price: 16px;
$font-size-h2: 18px;
$font-size-h1: 24px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-family-default: "Georgia", serif;
$font-family-custom: "Merriweather";
$font-family: $font-family-custom, $font-family-default;

$line-height-base: 150%;